TRON_FULL_HOST=https://nile.trongrid.io
TRON_PRIVATE_KEY=
TRON_FEE_LIMIT=150000000

TASK_DAILY_CHECK_IN_ID=1
TASK_DAILY_CHECK_IN_POINTS=60
TASK_DAILY_TASKS_ID=2
TASK_DAILY_TASKS_POINTS=120
TASK_INVITE_FRIENDS_ID=3
TASK_INVITE_FRIENDS_POINTS=180
TASK_VIEW_LEADERBOARD_ID=4
TASK_VIEW_LEADERBOARD_POINTS=40
